services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: qroot-frontend
    restart: always
    ports:
      - "80:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
